__pycache__
.ipynb_checkpoints
/.vscode
/src/dashboard/__pycache__
/src/dashboard/data
/src/dashboard/*.txt
/src/dashboard/*.gif
/src/dashboard/Dataview.ipynb
/src/dashboard/Presentation.ipynb
/src/dashboard/Results\ view.ipynb
/src/dashboard/Timing.ipynb
/venv
*.code-workspace
src/microcontroller/pyRTOS.mpy
src/dashboard/data-13-10-11-49-Isomalt-Oil-5g-30-50-30
/docsrc/build
/src/microcontroller/adafruit-circuitpython-raspberry_pi_pico-en_GB-7.3.3.uf2
/setup.py
/pyproject.toml
/src/microcontroller/main.bak.py
/src/microcontroller/main.bak2.py
/src/microcontroller/script.py