__pycache__
.ipynb_checkpoints
/.vscode
/src/dashboard/__pycache__
/src/dashboard/data
/src/dashboard/*.txt
/src/dashboard/*.gif
/src/dashboard/Dataview.ipynb
/src/dashboard/Presentation.ipynb
/src/dashboard/Results view.ipynb
/src/dashboard/Timing.ipynb
/venv
*.code-workspace
src/microcontroller/pyRTOS.mpy
