[Unit]
Description=Chromium Kiosk browser window for DTA user interface
Requires=DTA-jupyter.service
After=network.target syslog.target nss-lookup.target graphical.target

[Service]
Type=simple
PIDFile=/run/DTA-chrome.pid
User=pi
Group=pi
ExecStart=chromium-browser --display=:0 --disable-infobars -noerrdialogs --kiosk -touch-events --enable-features=OverlayScrollbar --window-position=0,0 --app="http://localhost:8888/voila/render/webapp/webapp.ipynb?"
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
