[Unit]
Description=Python TCP server, facilitating data connection to DTA microcontroller
After=network.target syslog.target nss-lookup.target

[Service]
Type=simple
PIDFile=/run/DTA-interface.pid
User=pi
Group=pi
ExecStart=/usr/bin/python3 -u /home/pi/Pi-Pico-Prototype/receive.py
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
Also=DTA-jupyter.service
